{% assign weeks_per_row = 10 %}

<style>
  .year {
    grid-template-columns: repeat({{ weeks_per_row }}, 1fr);
  }
  
  .week {
    aspect-ratio: 1;
  }
</style>

<div class="layout layout--col">
  {% assign percentage = current_week | times: 100.0 | divided_by: weeks | round: 1 %}
  <div class="title">
    Week {{ current_week }}{% if percentage == 25.0 or percentage == 50.0 or percentage == 75.0 or percentage >= 80.0 %} - {{ percentage }}%{% endif %}
  </div>
  {% if showIcon %}
    <div class="grid year grid-wrap pl--10 pr--10 mt--6 gap--xsmall">
      {% for week in (1..52) %}
      <div class="week flex flex--row">
        <i class="ti ti-square{% if week <= current_week %}-check-filled{% endif %} title"></i>
      </div>      
      {% endfor %}
    </div>
    {% else %}
    <div class="grid year pl--10 pr--10 mt--6 gap--xsmall">
      {% for week in (1..52) %}
      <div class="week flex flex--row bg--{% if week <= current_week %}black{% else %}gray-50{% endif %}"></div>
      {% endfor %}
    </div>
  {% endif %}
</div>

<div class="title_bar">
  <i class="ti ti-license"></i>
  <span class="title">Weeks of {{ year }}</span>
</div>